body{
	scroll-behavior: smooth;
}


/*Loading*/
.outer{
	position: relative;
	overflow: hidden;
}
.outer .inner{
	position: absolute;
	bottom: 0;
	transition: translateY 1s ease-in-out ;
	animation: fill 3s ease-in-out infinite;
}

@keyframes fill {
	0%{
		transform: translateY(100%);
	} 100%{
		transform: translateY(0);
	}
}

/*Nav*/
.is-fixed{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	padding: 0.25em 3em;
}

.simplebar-scrollbar{
	background-color: lighter(#7f9cf5, 80%);
}
/*.simplebar-content{
	background-color: #fff;
}

.simplebar-scroll-content{
	background-color: #fff;
}

.simplebar-track{
	background-color: white;
}*/
/*.simplebar-content{
	background-color: #fff;
}

.simplebar-scroll-content{
	background-color: #5a67d8;
}
.simplebar-scrollbar{
	background-color: #5a67d8;
}
.simplebar-track{
	background-color: #a3bffa;
}
*/
.up-home{
	left: 50%;
	transform:  translateX(-50%);
}

.active{
	border-bottom: 2px solid #667eea;
}
@media screen and (max-width: 768px){
	.open-nav{
		display:flex;
		flex-direction: column;
		align-items: flex-end;
		position: absolute;
		top: 100%;
		right: 0%;
		width: 100%;
		text-align: left;
		background-color:#fff;
		text-transform:capitalize;
	}
}
